<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
            <h2> Register</h2>

            <form action="/auth/registerPost" method="post">
                <p>
                    <input type="email" name="username" placeholder="E-mail"/>
                </p>
                <% if(simpleLoginUser === null) {%>
                    <p>
                        <input type="password" name="password" placeholder="Password"/>
                    </p>
                <%}%>
                <p>
                    <% if(simpleLoginUser) {%>
                        <input type="text" name="nickname" placeholder="Nickname" value="<%=simpleLoginUser.NICKNAME_NM%>"/>
                    <%} else {%>
                        <input type="text" name="nickname" placeholder="Nickname"/>
                    <%}%>
                </p>
                <p>
                    <span><input type="submit" value="Join"/></span>
                    <span><a href="/auth/logout">Cancel</a></span>
                </p>
            </form>
    </body>
</html>
