<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <mete name="viewport", content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../font/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
        } 
        a:hover {
            color: #99d33f;
        }
        a:link, a:active,  {
            color: black;
        }

        textarea {
            margin-top: 10px;
            overflow: auto;
        }
        .chat_layout {
            height: 750px;
        }
        
        .chatting {
            margin: 0 auto;
            width: 700px;
            height: 1000px;
        }
        .view {
            border: 1px solid #a0d64b;
            padding: 50px;
            height: 800px;
            box-shadow: 2px 1px 7px #3b5c07;
            clear: both;
            overflow: auto;
        }


        .input .sub_function{
            margin-top: 45px;
            margin-right: 2px;
            float: left;
        }
        .input .text_submit{
            margin-top: 45px;
            float: right;
        }
        .text_input {
            min-width: 635px;
        }
        .you_content, .my_content {
            margin: 5px;
/*            border-bottom: 3px solid black;*/
            padding-bottom: 7px;
        }
        .my_content {
            text-align: right;
        }
        .you_name, .my_name, .you_message .message, .my_message .message {
            display: inline-block;
        }
        .you_message .message, .my_message .message {
            padding: 7px;
            border: 1px solid #0aa00a;
        }
        .you_message .message {
             border-radius: 15px 15px 15px 1px;
        }
        .my_message .message {
             border-radius: 15px 15px 1px 15px;
        }
        .you_content .you_name, .my_content .my_name{
            margin-bottom: 5px;
        }
        
        .user_list, .function_list {
            border: 1px solid black;
            width: 100px;
        }
        
        .function_list {
            height: 7.5%;
        }
        .user_list {
            float: right;
            margin-top: -500px;
            margin-right: 475px;
            height: 200px;
        }
        .list_title {
            border-bottom: 1px solid black;
        }
        .list_item {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: auto;
        }
        .receive_img {
            border-radius: 20px;
            border: 2.5px solid #0aa00a;
            box-shadow: 1px 1px 1px #0aa00a
        }
        .fileUploadView {
            display: inline-block;
        }
        .you_content .receive_img {
            
            float: left;
        }
        .object_send {
            display: inline-block;
        }
        .you_content .file_download {
            clear: both;
            
        }
        .typingText {
            padding : 2px 2px;
            visibility: visible;
        }
        .nickname {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div class="chat_layout">
        <div class="chatting">
            <div class="view">
             <div class="my_content">
                <strong class="my_name">동동</strong>
                <div class="my_message">
                    <div class="image">
                        <img src="" alt="(사진이름)" class="receive_img" width="30%" height="100px;">
                        <div class="file_download">
                            <span><a href="#">다운로드</a></span>
                        </div> 
                    </div>
                    <div class="message">
                        안녀엉
                    </div>
                </div>
            </div>
            </div>
            <div class="typingText">
                <span class="nickname">경고창 및 타이핑 문</span>
            </div>
            <div class="fileUploadBox" style="display: none;">
            </div>
           
            <div class="input">
                <button id="plusMenu" class="sub_function" >+</button>
                <textarea id="inputMsg" class="text_input" style="height: 70px;" placeholder="텍스트를 입력해주십시오." onkeyup="checkEnter()" onkeydown="checkKeyboard()"></textarea>
                <span id="sendMsg" class="text_submit" onClick="sendMessage"  style="cursor: pointer">Enter</span>
            </div>
            <div class="function_list" style="display: none;">
                <span class="list_title">부가기능</span>
                <div class="sub_send">
                    <div>
                        <span id="file_send" class="object_send" onClick="sendFileBox('file_send')" style="cursor:pointer;">파일 전송</span>
                    </div>
                    <div>
                        <input type="file" id="img_file" multiple="multiple" accept=".gif, .jpg, .png" onchange="javascript:getPath(this);" style="display:none;">
                        <span id="img_send" class="object_send" onClick="sendFileBox('img_send')" style="cursor:pointer;">이미지 전송</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="user_list">
            <span class="list_title">유저리스트</span>
            <ul class="list_item">
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/socket.io-stream.js"></script>
    <script type="text/javascript" src="../js/chatClient.js"></script>
    <script>
        var files;
        var fileInfo = {
            fileObj : [],
            origin_name : [],
            storage_name : [],
            type: [],
            size : []
        }
        var file_size = 0
        var blobStream
        $("#plusMenu").click(function () {
           $(".function_list").toggle(0.1, function() {
               var menuText = $("#plusMenu").text()
               if(menuText === "+") {
                    $("#plusMenu").text("- ")
               } else {
                    $("#plusMenu").text("+")
               }
           })
        })
        $(".object_send").click(function () {
            $(".function_list").css("display","none");
            $("#plusMenu").text("+")
        })
        $('.view').scrollTop($('.view').prop('scrollHeight'))
        

        var sendFileBox = function(selectId) {
            var tagId = "#"+selectId
            console.log($(tagId).prev().click())
        }
        
        var sendFile = function(selectId) {
            var tagId = "#"+selectId
            console.log(document.getElementById(selectId).value)
        }
        
        function getPath(obj) {
            obj.select();
            files = obj.files
            for(var i=0; i<files.length; i++) {
                fileInfo.fileObj[i] = files[i]
                fileInfo.origin_name[i] = files[i].name
                
                fileInfo.type[i] = files[i].type
                console.log(fileInfo.type[i])
                fileInfo.storage_name[i] 
                    = isFormatfileDate(
                    new Date()
                    )+"."+fileInfo.type[i].split("/")[1]
                fileInfo.size[i] = files[i].size
            }
            
            // FileReader 객체는 IE 10부터 지원.. 단점!
            fileInfo.fileObj.forEach( function(value, index) {
                var fileOriginName = fileInfo.origin_name[index]
                var fileType = fileInfo.type[index]
                var fileStorage_name = fileInfo.storage_name[index]
                var fileSize = fileInfo.size[index]
                var fReader = new FileReader()
                fReader.readAsDataURL(value);
                fReader.onloadend = function(event) {
                    var fileSrc = event.target.result;
                    var fileId = 'uploadFile_'+index
                    var fileNameId = "fileUploadName_"+index
                    var fileCancleId = 'cancleUpload_'+index
                    var fileTag = '<div class="fileUploadView">'
                        fileTag += '<img src="'+fileSrc+'" alt="'+fileStorage_name+'" id="'
                        fileTag += fileId+'" width="25%">'
                        fileTag += '<div id="'+fileNameId+'"></div>'
                        fileTag += '<button class="cancleUpload">취소</button>'
                        fileTag += '</div>'
                    $(".fileUploadBox").append(fileTag)
                    $("#fileUploadName_"+index).text(fileOriginName)
                    console.log('name', fileOriginName)
                    $(".fileUploadBox").css("display", "block")   
                } 
            })       
        }
        $(".fileUploadBox").on("click", ".cancleUpload", function() {
            var fileUploadView = $(this).parent();
            var imgTag = fileUploadView.children()[0];
            var storage_name = $(imgTag).attr("alt")
            fileInfo.storage_name.forEach( function(v, i) {
                if(v === storage_name) {
                    fileInfo.storage_name.splice(i,1);
                    console.log(fileInfo.storage_name)
                    fileUploadView.remove(); 
                    return ;
                }
            })
        })
    </script>
</body>
</html>

