<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <mete name="viewport", content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../font/font-awesome/css/font-awesome.min.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
        a {
            text-decoration: none;
        } 
        a:hover {
            color: #99d33f;
        }
        a:link, a:active,  {
            color: black;
        }

        textarea {
            margin-top: 10px;
            overflow: auto;
        }
        .chat_layout {
            height: 750px;
        }
        
        .chatting {
            margin: 0 auto;
            width: 700px;
            height: 1000px;
        }
        .view {
            border: 1px solid #a0d64b;
            padding: 50px;
            height: 800px;
            box-shadow: 2px 1px 7px #3b5c07;
            clear: both;
            overflow: auto;
        }


        .input .sub_function{
            margin-top: 45px;
            margin-right: 2px;
            float: left;
        }
        .input .text_submit{
            margin-top: 45px;
            float: right;
        }
        .text_input {
            min-width: 635px;
        }
        .you_content, .my_content {
            margin: 5px;
/*            border-bottom: 3px solid black;*/
            padding-bottom: 7px;
        }
        .my_content {
            text-align: right;
        }
        .you_name, .my_name, .you_message .message, .my_message .message {
            display: inline-block;
        }
        .you_message .message, .my_message .message {
            padding: 7px;
            border: 1px solid #0aa00a;
        }
        .you_message .message {
             border-radius: 15px 15px 15px 1px;
        }
        .my_message .message {
             border-radius: 15px 15px 1px 15px;
        }
        .you_content .you_name, .my_content .my_name{
            margin-bottom: 5px;
        }
        
        .user_list, .function_list {
            border: 1px solid black;
            width: 100px;
        }
        
        .function_list {
            height: 7.5%;
        }
        .user_list {
            float: right;
            margin-top: -500px;
            margin-right: 475px;
            height: 200px;
        }
        .list_title {
            border-bottom: 1px solid black;
        }
        .list_item {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: auto;
        }
        .receive_img {
            border-radius: 20px;
            border: 2.5px solid #0aa00a;
            box-shadow: 1px 1px 1px #0aa00a
        }
        .you_content .receive_img {
            
            float: left;
        }
        .object_send {
            display: inline-block;
        }
        .you_content .file_download {
            clear: both;
/*            display: inline-block;*/
            
        }
    </style>
</head>
<body>
    <div class="chat_layout">
        <div class="chatting">
            <div class="view">
              
            </div>
            <div class="input">
                <button id="plusMenu" class="sub_function" >+</button>
                <textarea id="inputMsg" class="text_input" style="height: 70px;" placeholder="텍스트를 입력해주십시오." onkeyup="checkKeboard()"></textarea>
                <span id="sendMsg" class="text_submit" onClick="sendMessage"  style="cursor: pointer">전송</spans>
            </div>
            <div class="function_list" style="display: none;">
                <span class="list_title">부가기능</span>
                <div class="sub_send">
                    <div>
                        <input type="file" id="etc_file" accept=".hwp, .exel" onchange="sendFile('file_send')" style="display:none;">
                        <span id="file_send" class="object_send" onClick="sendFileBox('file_send')" style="cursor:pointer;">파일 전송</span>
                    </div>
                    <div>
                        <input type="file" id="img_file" accept=".gif, .jpg, .png" onchange="sendFile('img_send')" style="display:none;">
                        <span id="img_send" class="object_send" onClick="sendFileBox('img_send')" style="cursor:pointer;">이미지 전송</span>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="user_list">
            <span class="list_title">유저리스트</span>
            <ul class="list_item">
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $("#plusMenu").click(function () {
           $(".function_list").toggle(0.1, function() {
               var menuText = $("#plusMenu").text()
               if(menuText === "+") {
                    $("#plusMenu").text("- ")
               } else {
                    $("#plusMenu").text("+")
               }
           })
        })
        $(".object_send").click(function () {
            $(".function_list").css("display","none");
            $("#plusMenu").text("+")
        })
        var sendMessage = $(".text_submit").click(function () {
            var text = $(".text_input").text()
            if(!text) {
                // 텍스트 미전송
            } else {
                // 텍스트 전송
            }
//            $('.view').append(  
//                                  `<div class="my_content">
//                    <strong class="my_name">동동</strong>
//                    <div class="file">
//                        <div class="file_download">
//                            <a href="#">
//                                <i class="fa fa-file-o fa-5x" aria-hidden="true"></i>
//                                다운로드
//                            </a>
//                        </div> 
//                    </div>
//                </div>`
//                                  )
        $('.view').scrollTop($('.view').prop('scrollHeight'))
        });

        var sendFileBox = function(selectId) {
            var tagId = "#"+selectId
            console.log($(tagId).prev().click())
        }
        
        var sendFile = function(selectId) {
            var tagId = "#"+selectId
            console.log($(tagId))
        }
    </script>
    <script type="text/javascript" src="../js/chatClient.js"></script>
</body>
</html>

