<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <mete name="viewport", content="width-device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <h2> i n s t a r</h2>

    <input type="text" name="cell1" value="" placeholder="010">

    <script type="text/javascript">
    $('input[name="cell1"]').focus(function() {
        if($(this).val() == "") {
            $(this).attr("placeholder", "");
        }
        // $(this).val(" ");
    });
    $('input[name="cell1"]').blur(function() {
        if($(this).val() == "") {
            $(this).attr("placeholder", "010");
        }
    })
    </script>
</body>
</html>
