<!-- <tr>
    <td colspan="6">
        <div class="board_number">
            <select name="board_number_select">
                <option value="0">1개</option>
                <option value="1" selected="selected">2개</option>
                <option value="2">3개</option>
                <option value="3">4개</option>
            </select>
        </div>
    </td>
</tr> -->

<!-- 
$(".commentReply").click(function() {

    if(tempid) {

        $("#commentView_"+tempid+" > .commentBox").empty()
    }
    var commentReplyId = $(this)[0].id

    var commentId = commentReplyId.split("_")[1]
    $("#commentView_"+commentId).append(
        `
        <div class="commentBox">
            <div class="commentBox comment">
                <div class="commentInfo">
                    <label for="commentName_">name : </label>
                    <input type="text" id="commentName_${commentId}" name="commentName" value=""/>
                    <label for="commentPassword">password : </label>
                    <input type="text" id="commentPassword_${commentId}" name="commentPassword" value=""/>
                </div>
                <textarea id="commentContent_${commentId}" class="commentContent" name="commentContent" rows="8"\></textarea>
            </div>
            <div class="">
                <input type="button" id="submit_btn" class="submit_btn" value="쓰기">
            </div>
        </div>
        `
    )
    tempid = commentId;
}) -->
