<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <mete name="viewport", content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <h2>
        <a href="/board"> Welcome, board page!</a>
    </h2>
    
    <div class="panel">
        <ul class="list-goup">
            <li class="list-goup-item">
                <div class="list-title">
                    <div class="list-number">
                    #00001
                    </div>
                    <h5>제목 </h5>
                </div>
                <div class="list-summary">
                     댓글수, 좋아요수, 히트수
                </div>
                <div class="list-author">
                    프로필(아이디)및날짜
                </div>
            </li>
            <li class="list-goup-item">
                <div class="list-title">
                    <div class="list-number">
                        #00002
                    </div>
                </div>
                <div class="list-summary">
                    댓글수, 좋아요수, 히트수
                </div>
                <div class="list-author">
                    프로필(아이디)및날짜
                </div>
            </li>
        </ul>
    </div>
</body>
</html>

