<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <mete name="viewport", content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
    <h2>
        <a href="/board"> Welcome, board page!</a>
    </h2>
    
    <div class="panel">
        <ul class="list-goup">
            <li class="list-goup-item">
                <div>
                    div1 임니다
                </div>
                <h5>제목입니다</h5>
            </li>
            <li class="list-goup-item">
                <div>
                    div2 임니다
                </div>
            </li>
            <li class="list-goup-item">
                <div>
                    div3 임니다
                </div>
            </li>
            <li class="list-goup-item">
                
            </li>
        </ul>
    </div>
</body>
</html>

