.panel {
    width: 850px;
    margin: 0 auto;
}

.list-goup-item {
    border: 1px solid blue;
    position: relative;
    clear: left;
}

.list-goup {
    border: 1px solid red;
    list-style: none;
}

.list-title {
    float: left;
    width: 100px
}

.list-summary {
    float: left;
}

.list-author {
}